<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2019 Adam Chappell
This code is licensed under MIT license (see LICENSE for details)
-->
<packages>
    <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net461" />
    <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net461" />
    <package id="System.Security.Permissions" version="4.5.0" targetFramework="net461" />
    <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net461" />
</packages>